{
  "knightfall_prologue" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Teleport Confirmation",
    "subtitle" : "^red;Unknown Mission^reset;",
    "message" : "\n\nAre you ready to begin the mission?\n\n^red;You'll need your best equipment\nfor this.",
    "okCaption" : "Ready",
    "cancelCaption" : "Not now"
  },
  "knightfall_raid-firebase" : {
    "paneLayout" : "/interface/windowconfig/portraitconfirmation.config:paneLayout",
    "icon" : "/interface/warping/icon.png",
    "title" : "Begin Mission",
    "subtitle" : "^#66ccff;Destroy Syndicate Artillery^reset;",
    "message" : "\n\nRecommended Gear: ^yellow;Tier 5^reset;",
    "okCaption" : "Let's go",
    "cancelCaption" : "Not now"
  }
}
