{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "knightfall_stasisexplosionlarge"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/explosions/knightfall_timeexplosion.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/knightfall_plasma-gunfire7.ogg" ]
    }
  ]
}
