{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "knightfall_stasisexplosionlarge",
	  "config" : {
		  "statusEffects" : [
			"knightfall_stasislong"
		  ]
	  }
    },
	{
	  "time" : 0,
      "action" : "loop",
      "count" : 8,
	  "fuzzAngle" : 360,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
			"animation" : "/animations/knightfall_stasisexplosion/knightfall_stasisexplosion.animation",
            "light" : [178, 232, 255],
            "fullbright" : true,
            "fade" : 0.5,
            "approach" : [0.5, 0.5],
            "timeToLive" : 0.33,
            "layer" : "middle",
            "variance" : {
              "position" : [5, 5],
			  "initialVelocity" : [1, 1],
			  "size" : 1.2,
			  "rotation" : 180,
			  "layer" : "front"
            }
          }
        }
      ]
    },
	{
	  "time" : 0,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [20, 20],
			"finalVelocity" : [0, 0],
			"approach" : [1, 1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [40, 40],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [-20, 20],
			"finalVelocity" : [0, 0],
			"approach" : [-1, 1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [-40, 40],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [-20, -20],
			"finalVelocity" : [0, 0],
			"approach" : [-1, -1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [-40, -40],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [20, -20],
			"finalVelocity" : [0, 0],
			"approach" : [1, -1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [40, -40],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/explosions/knightfall_timeexplosion.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/knightfall_plasma-gunfire7.ogg" ]
    }
  ]
}