{
  "syndicate_krokodyl_smokegrenadesConcurrent" : {
    "pauseDuringSkills" : [ "syndicate_krokodyl_chargeState", "syndicate_krokodyl_transitionState", "syndicate_krokodyl_laserSweepState", "dieState" ],

    "projectileType" : "syndicate_krokodyl-smokegren_in",
    "projectileParameters" : {
		"speed" : 15,
		"power" : 0
    },
    "volleyCount" : 3,
    "fireDelay" : 0.135,
    "inaccuracy" : 0.135,
    "offsetInterval" : [0.375, 0],
    "detectRadius" : 18,
    "cooldownTime" : 10
  }
}
