{
  "syndicate_krokodyl_mortarsConcurrent" : {
    "pauseDuringSkills" : [ "syndicate_krokodyl_chargeState", "syndicate_krokodyl_transitionState", "syndicate_krokodyl_laserSweepState", "dieState" ],

    "projectileType" : "syndicate_krokodyl-mortarshell", 
    "projectileParameters" : {
      "speed" : 75,
	  "power" : 40
    },
    "projectileCount" : 1,
    "burstCount" : 3,
    "burstTime" : 0.425,
    "offsetInterval" : [1, 0],

    "pauseDistance" : 24,           //doesnt shoot if target within this range
    "inaccuracy" : 0.04,
    "fireTime" : 0.25
  }
}
