{
  "syndicate_krokodyl_trashTalkConcurrent" : {
    "pauseDuringSkills" : [ "dieState" ],

    "talkInterval" : [1, 15],
    "trashTalk" : [
      "Brother, you are straight pebbles.",
      "I much prefer sour cream and chives in my enemies.",
      "Are you a plank?",
      "Woof woof, yummy!",
      "Chatting shit are we?",

      "Aren't you supposed to be Knightfall? Damn you guys are turning into family friendly stuffed animals!",
      "We have squigled bigger fish than you ever will sir!",
      "Oh my skibidi...",
      "I feel so skibidi...",
      "I'm gonna tank all over you until you are red and sore!"
    ]
  }
}
