{
  "syndicate_krokodyl_autocannonsConcurrent" : {
    "pauseDuringSkills" : [ "syndicate_krokodyl_chargeState", "syndicate_krokodyl_transitionState", "syndicate_krokodyl_autocannonsSweepState", "syndicate_krokodyl_laserSweepState", "dieState" ],

    "projectileType" : [ "knightfall_bulletlit", "knightfall_bulletlit2" ], 
    "projectileParameters" : {
		"speed" : 80,
		"power" : 15
	},
    "projectileCount" : 1,
    "burstCount" : 3,
    "burstTime" : 0.19,

    "inaccuracy" : 0.04,
    "fireTime" : 0.25,
    "rotateSpeed" : 5,
    "aimAngleMinMax" : [-15, 30]
  }
}
