{
  "syndicate_krokodyl_trashTalkConcurrent" : {
    "pauseDuringSkills" : [ "dieState" ],

    "talkInterval" : [1, 15],
    "trashTalk" : [
	  "We're turning you to pink mist, buddy!",
	  "No agents like you witnessed the immense power of the Syndicate and lived, buddy!",
	  "People who spend a long time on the battlefield start to think they're invincible. I bet you do too, buddy.",
	  "You'll be more lead than flesh when we're done with you!",
	  "Do you miss your Protectorate friends? Do you want to see them again?",
	  "How's licking those Knightfall boots? Good?",
	  "We will grease the treads with your guts, insect!",
	  "Want some more?! We've got some right over here, fool!",
	  "We'll reduce you to ash and charcoal asshole!",
	  "Tis' but a dent!!",
	  "How's eighty tons of steel doin' it for you?!",
	  "Just sit down you Protectorate dumbass!",
	  "You down there! See that protector? I want them and everything in that general direction gone!",
	  "Hey morons! If you don't step up the pace you're all gonna be stuck cleaning this person's guts outta the treads!",
      "Aren't you supposed to be Knightfall? Damn you guys are turning into family friendly stuffed animals!",
	  "Boys, I want that direction gone!",
	  "Good lord, are we shooting a protector or a damn cockroach?",
	  "DIE DIE DIE DIE DIE ALREADY FUCK!",
	  "I want them fucked up! Killed! Maimed! Decimated, obliterated, throngled!",
	  "This tank costs too much money for you idiots to wreck it fighting one person!",
	  "This isn't working, someone start slamming their face into the controls until something happens!",
	  "And there goes a camera. Private, hit it with the wrench until it turns back on.",
	  "I want to thank you, Protector. I love driving this thing so goddamn much!",
	  "If one more light in this cabin goes out we're using one of you bastards as a human torch instead.",
	  "God, this crew is a joke. If the open comms still worked I bet this protector would think we're all idiots.",
	  "I'm starting to hate this fucker more than I do several politicians!",
	  "I think this bastard might be more durable than the tank.",
	  "Damn, we've got a stubborn one! Not sure we have a big enough bullet for their thick skull!",
	  "WHY. WON'T. YOU. DIE?!",
	  "Our dear Father's gonna grab the belt if you lot can't handle this.",
	  "I'm not expecting Red Blades here, I just want you idiots to hit the goddamn target!",
	  "All of you better get your shit together and kill this Protectorate bastard before we get Father's boys coming down on us!",
	  "HEY ASSHOLE, if your next fuckup lands me in front of a Red Blade don't think I'll cover for your sorry ass!",
	  "HEY DUMBASS, be glad the Red Blades ain't seeing this fuckery!"
    ]
  }
}
