{
  "syndicate_krokodyl_missilesConcurrent" : {
    "pauseDuringSkills" : [ "syndicate_krokodyl_transitionState", "syndicate_krokodyl_laserSweepState", "dieState" ],//"syndicate_krokodyl_chargeState" ],

    "projectileType" : "syndicate_krokodyl-HEmissile", 
    "projectileParameters" : {
		"power" : 10
	},
    "projectileCount" : 1,
    "burstCount" : 12,
    "burstTime" : 0.1,
    "burstInterval" : 3,  //every this many projectiles, pause for the interval time
    "burstIntervalTime" : 1,
    "fireTime" : 2,

    "firePositions" : [
      [0.25, 1], [0.5, 1], [0.75, 1],
      [0.25, 0.5], [0.5, 0.5], [0.75, 0.5],
      [0.25, -0.5], [0.5, -0.5], [0.75, -0.5],
      [0.25, -1], [0.5, -1], [0.75, -1]
    ],

    "pauseDistance" : 20,           //doesnt shoot if target within this range
    "inaccuracy" : 0.1,
    "aimVector" : [1, 0.65]
  }
}
