{	
	"knightfall" : {
		"rare" : "Trooperframe-Class",
		"legendary" : "Knightframe-Class",
		"essential" : "Mightframe-Class"
	},

	"syndicate" : {
		"rare" : "Raider-Class",
		"legendary" : "Scorpion-Class",
		"essential" : "Marauder-Class"
	},

	"augmented" : {
		"rare" : "Metaframe-Class",
		"legendary" : "Radframe-Class",
		"essential" : "Marauder-Class"
	}
}
