{	
	"knightfall" : {
		"rare" : "Vanguard-Class",
		"legendary" : "Knight-Class",
		"essential" : "Deliverer-Class"
	},

	"syndicate" : {
		"rare" : "Militant-Class",
		"legendary" : "Raider-Class",
		"essential" : "Marauder-Class"
	},

	"augmented" : {
		"rare" : "Metaframe-Class",
		"legendary" : "Radframe-Class",
		"essential" : "Marauder-Class"
	}
}
