{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 2,
      "type" : "knightfall_antimatterexplosion",
      "fuzzAngle" : 360
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_electric1.ogg", "/sfx/gun/grenadeblast_electric2.ogg", "/sfx/gun/grenadeblast_electric3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1,
      "delaySteps" : 2
    }
  ]
}
