{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "knightfall_tachyonexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/knightfall/gun/plasma_gun2.ogg"  ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 1,
      "explosiveDamageAmount" : 20,
      "delaySteps" : 2
    }
  ]
}
