{
  "requiresBlueprint" : false,
  "disableTimer" : true,

  "paneLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "",
			"fileBody" : "/interface/knightfall_merchantinterface/body.png",
			"fileFooter" : ""
		},
		
		"close" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_close_def.png",
			"hover" : "/interface/styles/buttons/knightfall_close_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_close_act.png",
			"pressedOffset" : [0, 0],
			"position" : [484, 222]
		},
		
		"windowtitle" : {
			"type" : "label",
			"value" : "^#66ccff;MERCHANT STATION",
			"position" : [37, 233]
		},

		"windowsubtitle" : {
			"type" : "label",
			"value" : "DESCRIPTION",
			"position" : [37, 224]
		},

		"windowicon" : {
			"type" : "image",
			"file" : "",
			"position" : [11, 223]
		},
		
		"btnUpgrade" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_upgradeUnreadySmall.png",
			"base" : "/interface/styles/knightfall_upgradeReadySmall.png",
			"position" : [254, 256],
			"zlevel" : 5
		},
		
		"lblSchematics" : {
			"type" : "label",
			"position" : [26, 184],
			"hAnchor" : "left",
			"value" : "^#66ccff;BROWSE"
		},
		
		"spinCount" : {
			"type" : "spinner",
			"position" : [242, 28],
			"upOffset" : 36,

			"leftBase" : "/interface/styles/spinner/knightfall_pickleft.png",
			"leftHover" : "/interface/styles/spinner/knightfall_picklefthover.png",
			"rightBase" : "/interface/styles/spinner/knightfall_pickright.png",
			"rightHover" : "/interface/styles/spinner/knightfall_pickrighthover.png"
		},
		
		"tbSpinCount" : {
			"type" : "textbox",
			"position" : [254, 28],
			"textAlign" : "center",
			"maxWidth" : 16,
			"color" : [102, 204, 255],
			"regex" : "x?\\d{0,4}",
			"hint" : ""
		},
		
		"imgAmountInput" : {
			"type" : "image",
			"file" : "",
			"position" : [236, 29],
			"zlevel" : -3
		},
		
		"btnCraft" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_primarybutton_def.png",
			"hover" : "/interface/styles/buttons/knightfall_primarybutton_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_primarybutton_act.png",
			"disabledImage" : "/interface/styles/buttons/knightfall_primarybutton_dis.png",
			"position" : [290, 22],
			"pressedOffset" : [0, 0],
			"caption" : "PURCHASE"
		},
		
		//This is unused but it might be useful for later ~Nitrosteel.
		"btnStopCraft" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_primarybutton_stop.png",
			"hover" : "/interface/styles/buttons/knightfall_primarybutton_stophov.png",
			"pressed" : "/interface/styles/buttons/knightfall_primarybutton_stopact.png",
			"position" : [290, 22],
			"caption" : "STOP"
		},
		
		"currentRecipeIcon" : {
			"type" : "itemslot",
			"callback" : "null",
			"position" : [220, 23]
		},
		
		"btnFilterHaveMaterials" : {
			"type" : "button",
			"base" : "/interface/styles/other/knightfall_checkbox_un.png",
			"baseImageChecked" : "/interface/styles/other/knightfall_checkbox_tick.png",
			"checkable" : true,
			"checked" : false,
			"pressedOffset" : [0, 0],
			"position" : [25, 28]
		},
		
		"lblProduct" : {
			"type" : "label",
			"position" : [36, 22],
			"hAnchor" : "left",
			"value" : "^#66ccff;CAN\nPURCHASE"
		},
		
		"imgPlayerMoneyIcon" : {
			"type" : "image",
			"position" : [120, 184],
			"file" : "/interface/money.png"
		},
		
		"lblPlayerMoney" : {
			"type" : "label",
			"position" : [134, 184],
			"hAnchor" : "left",
			"value" : "0"
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [20, 51, 191, 178],

			"buttons" : {
				"horizontal" : {
					"forward" : {
						"base" : "/interface/styles/scrollarea/knightfall_harrow-forward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_harrow-forwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_harrow-forwardpressed.png"
					},
					"backward" : {
						"base" : "/interface/styles/scrollarea/knightfall_harrow-backward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_harrow-backwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_harrow-backwardpressed.png"
					}
				},
				"vertical" : {
					"forward" : {
						"base" : "/interface/styles/scrollarea/knightfall_varrow-forward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_varrow-forwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_varrow-forwardpressed.png"
					},
					"backward" : {
						"base" : "/interface/styles/scrollarea/knightfall_varrow-backward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_varrow-backwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_varrow-backwardpressed.png"
					}
				}
			},
			"thumbs" : {
				"horizontal" : {
					"base" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-begin.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-end.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-inner.png"
					},
					"hover" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-innerhover.png"
					},
					"pressed" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-innerhover.png"
					}
				},
				"vertical" : {
					"base" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-begin.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-end.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-inner.png"
					},
					"hover" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-innerhover.png"
					},
					"pressed" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-innerhover.png"
					}
				}
			},

			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/styles/list/knightfall_listitem_act.png",
						"unselectedBG" : "/interface/styles/list/knightfall_listitem_def.png",
						"spacing" : [0, 1],
						"memberSize" : [155, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/styles/list/knightfall_listitem_def.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemName" : {
								"type" : "label",
								"position" : [27, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Replace Me"
							},
				  
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
				  
							"newIcon" : {
								"type" : "image",
								"position" : [124, 6],
								"file" : "/interface/styles/list/knightfall_newtag.png",
								"zlevel" : 2
							},
				  
							"notcraftableoverlay" : {
								"type" : "image",
								"file" : "/interface/styles/list/knightfall_listitem_overlay.png",
								"position" : [2, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		},
		
		"description" : {
			"type" : "widget",
			"position" : [208, 10],
			"size" : [298, 220]
		},
		
		"filter" : {
			"type" : "textbox",
			"position" : [104, 27],
			"hint" : "^#244d8b;Search",
			"maxWidth" : 60,
			"escapeKey" : "close",
			"enterKey" : "filter",
			"focus" : true
		},
		
		"categories" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		},
		
		"rarities" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		}
	}
}
