{
	"filter" : [ ],
	"titleFromEntity" : true,
	"requiresBlueprint" : true,
	
	"craftingSound" : "/sfx/interface/crafting_tech1.ogg",
	
	"paneLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/knightfall_furniturecatalogue/knightfall_furniturecatalogue_header.png",
			"fileBody" : "/interface/knightfall_furniturecatalogue/knightfall_furniturecatalogue_body.png",
			"fileFooter" : "/interface/knightfall_furniturecatalogue/knightfall_furniturecatalogue_footer.png"
		},
	
		"close" : {
			"type" : "button",
			"base" : "/interface/x.png",
			"hover" : "/interface/xhover.png",
			"pressed" : "/interface/xpress.png",
			"pressedOffset" : [0, 0],
			"position" : [419, 257]
		},
	
		"windowtitle" : {
			"type" : "title",
			"title" : "^#66ccff;KNIGHTFALL FURNITURE CATALOGUE^reset;",
			"subtitle" : "Purchase packages of Knightfall themed furniture and props.",
			"position" : [-5, 259],
		
			"icon" : {
				"type" : "image",
				"file" : "/interface/knightfall_furniturecatalogue/knightfall_furniturecatalogue_icon.png",
				"position" : [0, -20],
				"zlevel" : -1
			}
		},
	
		"btnUpgrade" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_upgradeUnready.png",
			"base" : "/interface/styles/knightfall_upgradeReady.png",
			"position" : [472, 253],
			"zlevel" : 5
		},
	
		"lblSchematics" : {
			"type" : "label",
			"position" : [119, 227],
			"hAnchor" : "mid",
			"value" : "^#66ccff;CATALOGUE"
		},
		
		"lblWeapons" : {
			"type" : "label",
			"position" : [32, 227],
			"hAnchor" : "mid",
			"value" : "^#66ccff;PROPS"
		},
	
		"spinCount" : {
			"type" : "spinner",
			"position" : [308, 53],
			"upOffset" : 36
		},
	
		"tbSpinCount" : {
			"type" : "textbox",
			"position" : [320, 53],
			"textAlign" : "center",
			"maxWidth" : 16,
			"regex" : "x?\\d{0,4}",
			"hint" : ""
		},
	
		"imgAmountInput" : {
			"type" : "image",
			"file" : "/interface/styles/knightfall_amount.png",
			"position" : [314, 52],
			"zlevel" : -3
		},
		
		"btnCraft" : {
			"type" : "button",
			"base" : "/interface/styles/knightfall_button.png",
			"hover" : "/interface/styles/knightfall_buttonhover.png",
			"position" : [356, 50],
			"caption" : "Order"
		},
	
		"btnStopCraft" : {
			"type" : "button",
			"base" : "/interface/styles/knightfall_active.png",
			"hover" : "/interface/styles/knightfall_activehover.png",
			"position" : [356, 50],
			"caption" : "Stop"
		},
	
		"currentRecipeIcon" : {
			"type" : "itemslot",
			"callback" : "null",
			"position" : [286, 48]
		},
	
		"btnFilterHaveMaterials" : {
			"type" : "button",
			"base" : "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked" : "/interface/crafting/checkboxcheck.png",
			"checkable" : true,
			"checked" : false,
			"position" : [125, 64]
		},
	
		"lblProduct" : {
			"type" : "label",
			"position" : [135, 63],
			"hAnchor" : "left",
			"value" : "MATERIALS AVAILABLE"
		},
	
		"description" : {
			"type" : "widget",
			"position" : [279, 46],
			"size" : [140, 220]
		},

		"filter" : {
			"type" : "textbox",
			"position" : [148, 48],
			"hint" : "Search",
			"maxWidth" : 60,
			"escapeKey" : "close",
			"enterKey" : "filter",
			"focus" : false
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [94, 75, 262, 226],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/crafting/craftableselected2.png",
						"unselectedBG" : "/interface/crafting/craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [159, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/crafting/craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemName" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Replace Me"
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"newIcon" : {
								"type" : "image",
								"position" : [119, 5],
								"file" : "/interface/styles/knightfall_new.png",
								"zlevel" : 2
							},
							
							"notcraftableoverlay" : {
								"type" : "image",
								"file" : "/interface/crafting/notcraftableoverlay.png",
								"position" : [2, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		},

		"categories" : {
			"type" : "radioGroup",
			"toggleMode" : false,
			"buttons" : [
			{
				"selected" : true,
				"position" : [17, 200],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_storagebutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_storagebutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_storage" ]
				}
			},
			{
				"position" : [43, 200],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_lightsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_lightsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_lights" ]
				}
			},
			{
				"position" : [17, 174],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_decorativebutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_decorativebutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_decorative" ]
				}
			},
			{
				"position" : [43, 174],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_doorsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_doorsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_doors" ]
				}
			},
			{
				"position" : [17, 148],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_wiredbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_wiredbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_wired" ]
				}
			},
			{
				"position" : [43, 148],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_hologramsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_hologramsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_holograms" ]
				}
			},
			{
				"position" : [17, 122],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_teleportersbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_teleportersbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_teleporters" ]
				}
			},
			{
				"position" : [43, 122],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_blocksbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_blocksbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_blocks" ]
				}
			},
			{
				"position" : [17, 96],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_weaponsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_weaponsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_weapons" ]
				}
			},
			{
				"position" : [43, 96],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_turretsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_turretsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_turrets" ]
				}
			},
			{
				"position" : [17, 70],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_signsbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_signsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_signs" ]
				}
			},
			{
				"position" : [43, 70],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_numbersbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_numbersbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_numbers" ]
				}
			},
			{
				"position" : [17, 44],
				"baseImage" : "/interface/knightfall_furniturecatalogue/knightfall_labbutton.png",
				"baseImageChecked" : "/interface/knightfall_furniturecatalogue/knightfall_labbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_lab" ]
				}
			}
			]
		},

		"rarities" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		}
	}	
}