{
	"onShowSound" : [ "/sfx/cinematics/quest_event.ogg" ],
	
	"paneLayout" : {
		"panefeature" : {
			"type" : "panefeature"
		},
		
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/quests/knightfall_questcomplete/header.png",
			"fileBody" : "/interface/quests/knightfall_questcomplete/body.png",
			"fileFooter" : ""
		},
		
		"clienttitle" : {
			"type" : "label",
			"value" : "^#66ccff;CLIENT:^reset; Knight Commander",
			"position" : [64, 224]
		},
		
		"branchtitle" : {
			"type" : "label",
			"value" : "^#66ccff;BRANCH:^reset; Knightfall PLANOPS",
			"position" : [64, 215]
		},
		
		"statustitle" : {
			"type" : "label",
			"value" : "^#66ccff;STATUS:^reset; ^green;COMPLETED^reset;",
			"position" : [64, 206]
		},
		
		"portraitTitle" : {
			"type" : "label",
			"position" : [169, 224],
			"hAnchor" : "left",
			"value" : "",
			"color" : "white"
		},
		
		"btnAccept" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_questprimarybutton_def.png",
			"hover" : "/interface/styles/buttons/knightfall_questprimarybutton_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_questprimarybutton_act.png",
			"position" : [102, 18],
			"caption" : "CLAIM REWARDS"
		},
		
		"rewardItems" : {
			"type" : "itemgrid",
			"position" : [157, 66],
			"dimensions" : [3, 1],
			"spacing" : [19, 19],
			"callback" : "null",
			"backingImage" : "/interface/knightfall_merchantinterface-small/knightfall_emptyslot.png",
			"zlevel" : 1
		},
		
		"lblRewards" : {
			"type" : "label",
			"position" : [111, 71],
			"value" : "^#66ccff;REWARDS:^reset;",
			"color" : [102, 204, 255]
		},
		
		"lblQuestCompletion" : {
			"type" : "label",
			"value" : "^#66ccff;MISSION COMPLETE^reset;",
			"hAnchor" : "mid",
			"position" : [160, 164]
		},
		
		"lblQuestBody" : {
			"type" : "label",
			"position" : [160, 155],
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 254,
			"lineSpacing" : 1.0,
			"value" : "",
			"color" : "white"
		}
	}
}
