{
  "sellContainerSize" : 56, // needs to match the size of the itemgrid defined in this window
  
  "buyBody" : "/interface/knightfall_merchantinterface-small/body.png",
  "sellBody" : "/interface/knightfall_merchantinterface-small/bodysell.png",
  
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/knightfall_merchantinterface-small/body.png",
      "fileFooter" : ""
    },
	
    "close" : {
      "type" : "button",
	  "base" : "/interface/styles/buttons/knightfall_close_def.png",
	  "hover" : "/interface/styles/buttons/knightfall_close_hov.png",
	  "pressed" : "/interface/styles/buttons/knightfall_close_act.png",
      "pressedOffset" : [0, 0],
      "position" : [179, 232]
    },
	
	"windowtitle" : {
		"type" : "label",
		"value" : "^#66ccff;MERCHANT STATION",
		"position" : [37, 243]
	},

	"windowsubtitle" : {
		"type" : "label",
		"value" : "Buy and sell your goods here!",
		"position" : [37, 234]
	},

	"windowicon" : {
		"type" : "image",
		"file" : "",
		"position" : [11, 233]
	},

    "buySellTabs" : {
      "type" : "tabSet",
      "tabButtonBaseImage" : "/interface/styles/tabs/knightfall_tab-base_def.png",
      "tabButtonHoverImage" : "/interface/styles/tabs/knightfall_tab-base_hov.png",
      "tabButtonBaseImageSelected" : "/interface/styles/tabs/knightfall_tab-base_act.png",
      "tabButtonHoverImageSelected" : "/interface/styles/tabs/knightfall_tab-base_act.png",
      "tabButtonPressedOffset" : [0, 0],
      "tabButtonTextOffset" : [0, 0],
      "tabButtonSpacing" : [4, 0],
	  
      "rect" : [22, 0, 191, 210],
	  
      "tabs" : [
        {
          "tabName" : "buy",
          "tabTitle" : "Buy",
		  
          "children" : {
            "spinCount" : {
              "type" : "spinner",
              "position" : [52, 28],
              "upOffset" : 36,
			  
			  "leftBase" : "/interface/styles/spinner/knightfall_pickleft.png",
			  "leftHover" : "/interface/styles/spinner/knightfall_picklefthover.png",
			  "rightBase" : "/interface/styles/spinner/knightfall_pickright.png",
			  "rightHover" : "/interface/styles/spinner/knightfall_pickrighthover.png"
            },
			
            "tbCount" : {
              "callback" : "parseCountText",
              "blur" : "countChanged",
              "type" : "textbox",
              "position" : [64, 28],
              "textAlign" : "center",
              "maxWidth" : 16,
			  "color" : [102, 204, 255],
              "regex" : "x?\\d{0,4}"
            },
			
            "imgCountBg" : {
              "type" : "image",
              "file" : "",
              "position" : [-5, 50],
              "zlevel" : -3
            },
			
            "lblBuyTotalCaption" : {
              "type" : "label",
              "position" : [6, 48],
              "value" : "TOTAL COST",
              "hAnchor" : "left"
            },
			
            "imgBuyMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/money.png",
              "position" : [104, 48]
            },
			
            "lblBuyTotal" : {
              "type" : "label",
              "position" : [150, 48],
			  "hAnchor" : "right",
              "value" : "999999"
            },
			
            "btnBuy" : {
              "callback" : "buy",
              "type" : "button",
              "base" : "/interface/styles/buttons/knightfall_sprimarybutton_def.png",
			  "hover" : "/interface/styles/buttons/knightfall_sprimarybutton_hov.png",
			  "pressed" : "/interface/styles/buttons/knightfall_sprimarybutton_act.png",
			  "disabledImage" : "/interface/styles/buttons/knightfall_sprimarybutton_dis.png",
              "position" : [100, 22],
			  "pressedOffset" : [0, 0],
              "caption" : "PURCHASE"
            },
			
            "scrollArea" : {
              "type" : "scrollArea",
              "rect" : [-2, 63, 169, 188],
			  
			  "buttons" : {
				"horizontal" : {
					"forward" : {
						"base" : "/interface/styles/scrollarea/knightfall_harrow-forward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_harrow-forwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_harrow-forwardpressed.png"
					},
					"backward" : {
						"base" : "/interface/styles/scrollarea/knightfall_harrow-backward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_harrow-backwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_harrow-backwardpressed.png"
					}
				},
				"vertical" : {
					"forward" : {
						"base" : "/interface/styles/scrollarea/knightfall_varrow-forward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_varrow-forwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_varrow-forwardpressed.png"
					},
					"backward" : {
						"base" : "/interface/styles/scrollarea/knightfall_varrow-backward.png",
						"hover" : "/interface/styles/scrollarea/knightfall_varrow-backwardhover.png",
						"pressed" : "/interface/styles/scrollarea/knightfall_varrow-backwardpressed.png"
					}
				}
			  },
			
			  "thumbs" : {
				"horizontal" : {
					"base" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-begin.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-end.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-inner.png"
					},
					"hover" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-innerhover.png"
					},
					"pressed" : {
						"begin" : "/interface/styles/scrollarea/knightfall_hthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_hthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_hthumb-innerhover.png"
					}
				},
				"vertical" : {
					"base" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-begin.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-end.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-inner.png"
					},
					"hover" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-innerhover.png"
					},
					"pressed" : {
						"begin" : "/interface/styles/scrollarea/knightfall_vthumb-beginhover.png",
						"end" : "/interface/styles/scrollarea/knightfall_vthumb-endhover.png",
						"inner" : "/interface/styles/scrollarea/knightfall_vthumb-innerhover.png"
					}
				}
			  },
			  
              "children" : {
                "itemList" : {
                  "type" : "list",
                  "schema" : {
                    "selectedBG" : "/interface/styles/list/knightfall_listitem_act-noarrow.png",
					"unselectedBG" : "/interface/styles/list/knightfall_listitem_def.png",
					
                    "spacing" : [0, 1],
                    "memberSize" : [155, 20],
					
                    "listTemplate" : {
                      "background" : {
                        "type" : "image",
                        "file" : "/interface/styles/list/knightfall_listitem_def.png",
                        "position" : [2, 0],
                        "zlevel" : -1
                      },
					  
                      "itemName" : {
                        "type" : "label",
                        "position" : [27, 5],
                        "hAnchor" : "left",
                        "wrapWidth" : 116,
                        "lineSpacing" : 1.05,
                        "value" : "Replace Me"
                      },
					  
                      "itemIcon" : {
                        "type" : "itemslot",
                        "position" : [3, 1],
                        "callback" : "null"
                      },
					  
                      "moneyIcon" : {
                        "type" : "image",
                        "position" : [108, 7],
                        "file" : "/interface/money.png"
                      },
					  
                      "priceLabel" : {
                        "type" : "label",
                        "position" : [152, 6],
                        "hAnchor" : "right",
                        "value" : "0"
                      },
					  
                      "unavailableoverlay" : {
                        "type" : "image",
                        "file" : "/interface/styles/list/knightfall_listitem_overlay.png",
                        "position" : [2, 0],
                        "zlevel" : 1
                      }
                    }
                  }
                }
              }
            }
          }
        },
        {
          "tabName" : "sell",
          "tabTitle" : "Sell",
		  
          "children" : {
            "itemGrid" : {
              "rightClickCallback" : "null",
              "type" : "itemgrid",
              "position" : [0, 69],
              "dimensions" : [8, 6],
              "spacing" : [19, 19],
              "backingImage" : "/interface/knightfall_merchantinterface-small/knightfall_emptyslot.png",
              "zlevel" : 2
            },
			
            "lblSellTotalCaption" : {
              "type" : "label",
              "position" : [6, 48],
              "value" : "SELL VALUE",
              "hAnchor" : "left"
            },
			
            "imgSellMoneyIcon" : {
              "type" : "image",
              "file" : "/interface/money.png",
              "position" : [104, 48],
              "zlevel" : -3
            },
			
            "lblSellTotal" : {
              "type" : "label",
              "position" : [150, 48],
			  "hAnchor" : "right",
              "value" : "0"
            },
			
            "btnSell" : {
              "callback" : "sell",
              "type" : "button",
              "base" : "/interface/styles/buttons/knightfall_sellbutton_def.png",
			  "hover" : "/interface/styles/buttons/knightfall_sellbutton_hov.png",
			  "pressed" : "/interface/styles/buttons/knightfall_sellbutton_act.png",
			  "disabledImage" : "/interface/styles/buttons/knightfall_sellbutton_dis.png",
              "position" : [100, 22],
			  "pressedOffset" : [0, 0],
              "caption" : "SELL"
            }
          }
        }
      ]
    }
  }
}
