{
	"filter" : [ ],
	"titleFromEntity" : true,
	"requiresBlueprint" : true,
	
	"craftingSound" : "/sfx/interface/crafting_tech1.ogg",
	
	"paneLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_weaponscraftingstation_header.png",
			"fileBody" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_weaponscraftingstation.png",
			"fileFooter" : ""
		},
	
		"close" : {
			"type" : "button",
			"base" : "/interface/styles/knightfall_X.png",
			"hover" : "/interface/styles/knightfall_X_highlight.png",
			"pressed" : "/interface/styles/knightfall_X_press.png",
			"pressedOffset" : [0, 0],
			"position" : [624, 245]
		},
	
		"windowtitle" : {
			"type" : "label",
			"value" : "^#66ccff;KNIGHTFALL WEAPONS CRAFTING STATION^reset;",
			"position" : [41, 256]
		},

		"windowsubtitle" : {
			"type" : "label",
			"value" : "Craft weapons, materials, and equipment from the Knightfall arsenal.",
			"position" : [41, 246]
		},
	
		"btnUpgrade" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_upgradeUnready_v2.png",
			"base" : "/interface/styles/knightfall_upgradeReady_v2.png",
			"hover" : "/interface/styles/knightfall_upgradeReadyhover_v2.png",
			"position" : [520, 247],
			"zlevel" : 5
		},
		
		"spinCount" : {
			"type" : "spinner",
			"position" : [379, 48],
			"upOffset" : 36
		},
	
		"tbSpinCount" : {
			"type" : "textbox",
			"position" : [391, 48],
			"textAlign" : "center",
			"maxWidth" : 16,
			"color" : [102, 204, 255],
			"regex" : "x?\\d{0,4}",
			"hint" : ""
		},
	
		"imgAmountInput" : {
			"type" : "image",
			"file" : "",
			"position" : [385, 43],
			"zlevel" : -3
		},
		
		"btnCraft" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_buttondisabled_v2.png",
			"base" : "/interface/styles/knightfall_button_v2.png",
			"hover" : "/interface/styles/knightfall_buttonhover_v2.png",
			"position" : [428, 45]
		},
	
		"btnStopCraft" : {
			"type" : "button",
			"base" : "",
			"hover" : "",
			"position" : [427, 45],
			"caption" : "Stop"
		},
	
		"currentRecipeIcon" : {
			"type" : "itemslot",
			"callback" : "null",
			"position" : [357, 43]
		},
	
		"btnFilterHaveMaterials" : {
			"type" : "button",
			"base" : "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked" : "/interface/crafting/checkboxcheck.png",
			"checkable" : true,
			"checked" : false,
			"position" : [198, 54]
		},
	
		"lblProduct" : {
			"type" : "label",
			"position" : [208, 53],
			"hAnchor" : "left",
			"value" : "^#66ccff;MATERIALS AVAILABLE^reset;"
		},
	
		"description" : {
			"type" : "widget",
			"position" : [349, 37],
			"size" : [298, 220]
		},

		"filter" : {
			"type" : "textbox",
			"position" : [219, 38],
			"hint" : "Search",
			"maxWidth" : 60,
			"escapeKey" : "close",
			"enterKey" : "filter",
			"focus" : false
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [162, 66, 333, 217],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/styles/knightfall_craftableselected2.png",
						"unselectedBG" : "/interface/styles/knightfall_craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [155, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/styles/knightfall_craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemName" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Replace Me"
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"newIcon" : {
								"type" : "image",
								"position" : [119, 5],
								"file" : "/interface/styles/knightfall_new.png",
								"zlevel" : 2
							},
							
							"notcraftableoverlay" : {
								"type" : "image",
								"file" : "/interface/styles/knightfall_notcraftableoverlay.png",
								"position" : [2, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		},

		"categories" : {
			"type" : "radioGroup",
			"toggleMode" : false,
			"buttons" : [
			{
				"position" : [87, 201],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_headsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_headsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_heads" ]
				}
			},
			{
				"position" : [113, 201],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_chestsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_chestsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_chests" ]
				}
			},
			{
				"position" : [87, 175],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_legsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_legsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_legs" ]
				}
			},
			{
				"position" : [113, 175],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_backpiecesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_backpiecesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_backpieces" ]
				}
			},
			{
				"selected" : true,
				"position" : [87, 136],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_craftingmaterialsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_craftingmaterialsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_craftingmaterials" ]
				}
			},
			{
				"position" : [113, 136],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_usablesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_usablesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_usables" ]
				}
			},
			{
				"position" : [45, 19],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_throwablesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_throwablesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_throwables" ]
				}
			},
			{
				"position" : [19, 201],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_assaultriflesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_assaultriflesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_assaultrifles" ]
				}
			},
			{
				"position" : [45, 201],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_machinegunsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_machinegunsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_machineguns" ]
				}
			},
			{
				"position" : [19, 175],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_rocketsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_rocketsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_rockets" ]
				}
			},
			{
				"position" : [45, 175],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_missilesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_missilesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_missiles" ]
				}
			},
			{
				"position" : [19, 149],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_shotgunsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_shotgunsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_shotguns" ]
				}
			},
			{
				"position" : [45, 149],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_cannonsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_cannonsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_cannons" ]
				}
			},
			{
				"position" : [19, 123],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_bowsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_bowsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_bows" ]
				}
			},
			{
				"position" : [45, 123],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_sniperriflesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_sniperriflesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_sniperrifles" ]
				}
			},
			{
				"position" : [19, 97],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_prismbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_prismbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_prism" ]
				}
			},
			{
				"position" : [45, 97],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_laserbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_laserbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_laser" ]
				}
			},
			{
				"position" : [19, 71],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_minigunsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_minigunsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_miniguns" ]
				}
			},
			{
				"position" : [45, 71],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_grenadesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_grenadesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_grenades" ]
				}
			},
			{
				"position" : [19, 45],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_flamethrowerbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_flamethrowerbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_flamethrower" ]
				}
			},
			{
				"position" : [19, 19],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_pistolsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_pistolsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_pistols" ]
				}
			},
			{
				"position" : [45, 45],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_armweaponsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_armweaponsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_armweapons" ]
				}
			},
			{
				"position" : [87, 97],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_swordsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_swordsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_swords" ]
				}
			},
			{
				"position" : [113, 97],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_axebutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_axebutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_axe" ]
				}
			},
			{
				"position" : [87, 71],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_polearmsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_polearmsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_polearms" ]
				}
			},
			{
				"position" : [113, 71],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_hammersbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_hammersbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_hammers" ]
				}
			},
			{
				"position" : [87, 45],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_macesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_macesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_maces" ]
				}
			},
			{
				"position" : [113, 45],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_chainweaponsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_chainweaponsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_chainweapons" ]
				}
			},
			{
				"position" : [113, 19],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_armbladesbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_armbladesbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_armblades" ]
				}
			},
			{
				"position" : [87, 19],
				"baseImage" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_shieldsbutton.png",
				"baseImageChecked" : "/interface/knightfall_weaponscraftingstation_v2/knightfall_shieldsbutton_highlight.png",
				"data" : {
					"filter" : [ "knightfall_shields" ]
				}
			}
			]
		},

		"rarities" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		}
	}	
}