{
	"filter" : [ ],
	"titleFromEntity" : true,
	"requiresBlueprint" : true,
	
	"craftingSound" : "/sfx/interface/crafting_tech1.ogg",
	
	"paneLayout" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/knightfall_augmentsstation/knightfall_augmentsstation_header.png",
			"fileBody" : "/interface/knightfall_augmentsstation/knightfall_augmentsstation.png",
			"fileFooter" : ""
		},
	
		"close" : {
			"type" : "button",
			"base" : "/interface/styles/knightfall_X.png",
			"hover" : "/interface/styles/knightfall_X_highlight.png",
			"pressed" : "/interface/styles/knightfall_X_press.png",
			"pressedOffset" : [0, 0],
			"position" : [530, 230]
		},
	
		"windowtitle" : {
			"type" : "label",
			"value" : "^#66ccff;KNIGHTFALL AUGMENTS FABRICATOR^reset;",
			"position" : [41, 241]
		},

		"windowsubtitle" : {
			"type" : "label",
			"value" : "Fabricate powerful augmentations from the Knightfall arsenal.",
			"position" : [41, 231]
		},
	
		"btnUpgrade" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_upgradeUnready_v2.png",
			"base" : "/interface/styles/knightfall_upgradeReady_v2.png",
			"hover" : "/interface/styles/knightfall_upgradeReadyhover_v2.png",
			"position" : [426, 232],
			"zlevel" : 5
		},
		
		"spinCount" : {
			"type" : "spinner",
			"position" : [285, 33],
			"upOffset" : 36
		},
	
		"tbSpinCount" : {
			"type" : "textbox",
			"position" : [297, 33],
			"textAlign" : "center",
			"maxWidth" : 16,
			"color" : [102, 204, 255],
			"regex" : "x?\\d{0,4}",
			"hint" : ""
		},
	
		"imgAmountInput" : {
			"type" : "image",
			"file" : "",
			"position" : [291, 28],
			"zlevel" : -3
		},
		
		"btnCraft" : {
			"type" : "button",
			"disabledImage" : "/interface/styles/knightfall_buttondisabled_v2.png",
			"base" : "/interface/styles/knightfall_button_v2.png",
			"hover" : "/interface/styles/knightfall_buttonhover_v2.png",
			"position" : [334, 30]
		},
	
		"btnStopCraft" : {
			"type" : "button",
			"base" : "",
			"hover" : "",
			"position" : [334, 30],
			"caption" : "Stop"
		},
	
		"currentRecipeIcon" : {
			"type" : "itemslot",
			"callback" : "null",
			"position" : [263, 28]
		},
	
		"btnFilterHaveMaterials" : {
			"type" : "button",
			"base" : "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked" : "/interface/crafting/checkboxcheck.png",
			"checkable" : true,
			"checked" : false,
			"position" : [104, 39]
		},
	
		"lblProduct" : {
			"type" : "label",
			"position" : [114, 38],
			"hAnchor" : "left",
			"value" : "^#66ccff;MATERIALS AVAILABLE^reset;"
		},
	
		"description" : {
			"type" : "widget",
			"position" : [255, 22],
			"size" : [298, 220]
		},

		"filter" : {
			"type" : "textbox",
			"position" : [125, 23],
			"hint" : "Search",
			"maxWidth" : 60,
			"escapeKey" : "close",
			"enterKey" : "filter",
			"focus" : false
		},

		"scrollArea" : {
			"type" : "scrollArea",
			"rect" : [68, 51, 239, 202],
			"children" : {
				"itemList" : {
					"type" : "list",
					"schema" : {
						"selectedBG" : "/interface/styles/knightfall_craftableselected2.png",
						"unselectedBG" : "/interface/styles/knightfall_craftablebackground.png",
						"spacing" : [0, 1],
						"memberSize" : [155, 20],
						"listTemplate" : {
							"background" : {
								"type" : "image",
								"file" : "/interface/styles/knightfall_craftablebackground.png",
								"position" : [2, 0],
								"zlevel" : -1
							},
							
							"itemName" : {
								"type" : "label",
								"position" : [25, 5],
								"hAnchor" : "left",
								"wrapWidth" : 116,
								"value" : "Replace Me"
							},
							
							"itemIcon" : {
								"type" : "itemslot",
								"position" : [3, 1],
								"callback" : "null"
							},
							
							"newIcon" : {
								"type" : "image",
								"position" : [119, 5],
								"file" : "/interface/styles/knightfall_new.png",
								"zlevel" : 2
							},
							
							"notcraftableoverlay" : {
								"type" : "image",
								"file" : "/interface/styles/knightfall_notcraftableoverlay.png",
								"position" : [2, 0],
								"zlevel" : 1
							}
						}
					}
				}
			}
		},

		"categories" : {
			"type" : "radioGroup",
			"toggleMode" : false,
			"buttons" : [
				{
					"selected" : true,
					"position" : [19, 186],
					"baseImage" : "/interface/knightfall_augmentsstation/knightfall_offensebutton.png",
					"baseImageChecked" : "/interface/knightfall_augmentsstation/knightfall_offensebutton_highlight.png",
					"data" : {
						"filter" : [ "knightfall_offense" ]
					}
				},
				{
					"position" : [19, 160],
					"baseImage" : "/interface/knightfall_augmentsstation/knightfall_defensebutton.png",
					"baseImageChecked" : "/interface/knightfall_augmentsstation/knightfall_defensebutton_highlight.png",
					"data" : {
						"filter" : [ "knightfall_defense" ]
					}
				},
				{
					"position" : [19, 134],
					"baseImage" : "/interface/knightfall_augmentsstation/knightfall_utilitybutton.png",
					"baseImageChecked" : "/interface/knightfall_augmentsstation/knightfall_utilitybutton_highlight.png",
					"data" : {
						"filter" : [ "knightfall_utility" ]
					}
				}
			]
		},

		"rarities" : {
			"type" : "radioGroup",
			"toggleMode" : true,
			"buttons" : []
		}
	}	
}