{
	"onShowSound" : [ "" ],
	
	"paneLayout" : {
		"panefeature" : {
			"type" : "panefeature"
		},
		
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/quests/knightfall_newquest/header.png",
			"fileBody" : "/interface/quests/knightfall_newquest/body.png",
			"fileFooter" : ""
		},
		
		"clienttitle" : {
			"type" : "label",
			"value" : "^#66ccff;CLIENT:^reset; Knight Commander",
			"position" : [64, 224]
		},
		
		"branchtitle" : {
			"type" : "label",
			"value" : "^#66ccff;BRANCH:^reset; Knightfall PLANOPS",
			"position" : [64, 215]
		},
		
		"statustitle" : {
			"type" : "label",
			"value" : "^#66ccff;STATUS:^reset; ^orange;PENDING^reset;",
			"position" : [64, 206]
		},
		
		"portraitTitle" : {
			"type" : "label",
			"position" : [169, 224],
			"hAnchor" : "left",
			"value" : "",
			"color" : "white"
		},
		
		"btnAccept" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_questprimarybutton_def.png",
			"hover" : "/interface/styles/buttons/knightfall_questprimarybutton_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_questprimarybutton_act.png",
			"position" : [162, 18],
			"caption" : "ACCEPT"
		},
		
		"btnDecline" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_questsecondarybutton_def.png",
			"hover" : "/interface/styles/buttons/knightfall_questsecondarybutton_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_questsecondarybutton_act.png",
			"position" : [42, 18],
			"caption" : "^#66ccff;DECLINE^reset;"
		},
		
		"lblQuestTitle" : {
			"type" : "label",
			"position" : [20, 176],
			"hAnchor" : "left",
			"wrapWidth" : 278,
			"lineSpacing" : 1.0,
			"value" : "",
			"color" : [102, 204, 255]
		},
		
		"lblQuestBody" : {
			"type" : "label",
			"position" : [20, 173],
			"hAnchor" : "left",
			"vAnchor" : "top",
			"wrapWidth" : 278,
			"lineSpacing" : 1.0,
			"value" : "",
			"color" : "white"
		}
	}
}
