{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/thorngrenadeblast1.ogg", "/sfx/projectiles/thorngrenadeblast2.ogg", "/sfx/projectiles/thorngrenadeblast3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 0,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0,
      "delaySteps" : 2
    }
  ]
}
