{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "knightfall_explosionfadesmall",
      "fuzzAngle" : 360
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "knightfall_explosion",
      "fuzzAngle" : 360
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rocketexplosion",
      "fuzzAngle" : 360
    },
	{
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/knightfall_blacksmoke/knightfall_blacksmoke.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [1.5, 1.5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 12,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/knightfall_flamemedium/knightfall_flamemedium.animation",
				"fullbright" : true,
                "approach" : [0.5, 0.5],
				"size" : 1,
                "timeToLive" : 0.6,
				"layer" : "middle",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [1, 1],
				  "size" : 1.25,
                  "timeToLive" : 0.15,
				  "layer" : "middle",
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 7,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/knightfall_flamesmall/knightfall_flamesmall.animation",
				"fullbright" : true,
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [4, 4],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/explosions/knightfall_flakexplosion.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }
  ]
}
