{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "knightfall_explosionfade",
      "fuzzAngle" : 360
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "knightfall_explosionlarge",
      "fuzzAngle" : 360
    },
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "rocketexplosion",
      "fuzzAngle" : 360
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/smoke/smoke.animation",
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [5, 5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/knightfall_flamemedium/knightfall_flamemedium.animation",
				"fullbright" : true,
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [5, 5],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/knightfall_flamesmall/knightfall_flamesmall.animation",
				"fullbright" : true,
                "approach" : [0.5, 0.5],
                "timeToLive" : 0.6,
                "variance" : {
                  "position" : [7, 7],
                  "initialVelocity" : [1, 1],
                  "timeToLive" : 0.15,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 3,
            "color" : [253, 209, 77, 255],
            "light" : [128, 0, 0],
            "fullbright" : true,
            "destructionTime" : 0.5,
            "destructionAction" : "shrink",
            "fade" : 0.9,
            "initialVelocity" : [0, 5],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.2,
            "layer" : "middle",
            "variance" : {
              "position" : [0.25, 0.25],
              "size" : 0.5,
              "initialVelocity" : [50, 50],
              "timeToLive" : 0.2
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 7,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 1.5,
      "delaySteps" : 2
    }
  ]
}
