{
	"gui" : {
		"background" : {
			"type" : "background",
			"fileHeader" : "/interface/knightfall_config/header.png",
			"fileBody" : "/interface/knightfall_config/body.png",
			"fileFooter" : "/interface/knightfall_config/footer.png"
		},

		"windowtitle" : {
			"type" : "title",
			"title" : "^#66ccff;KNIGHTFALL SETTINGS^reset;",
			"subtitle" : "h",
			"icon" : {
				"type" : "image",
				"file" : "/interface/knightfall_config/icon.png",
				"zlevel" : -1
			}
		},
		
		"cooldownBarPrimaryLabel" : {
			"type" : "label",
			"position" : [24, 81],
			"hAnchor" : "left",
			"value" : "^shadow;Primary Cooldown Bar"
		},
		"cooldownBarPrimary" : {
			"type" : "button",
			"position" : [11, 81],
			"checkable": true,
			"base": "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked": "/interface/crafting/checkboxcheck.png",
			"callback" : "cooldownBar",
			"data" : "cooldownBar_primary"
		},
		
		"cooldownBarAltLabel" : {
			"type" : "label",
			"position" : [24, 71],
			"hAnchor" : "left",
			"value" : "^shadow;Alt Cooldown Bar"
		},
		"cooldownBarAlt" : {
			"type" : "button",
			"position" : [11, 71],
			"checkable": true,
			"base": "/interface/crafting/checkboxnocheck.png",
			"baseImageChecked": "/interface/crafting/checkboxcheck.png",
			"callback" : "cooldownBar",
			"data" : "cooldownBar_alt"
		},
		
		"cooldownBarSliderLabel" : {
			"type" : "label",
			"position" : [11, 54],
			"hAnchor" : "left",
			"value" : "^shadow;Minimum Cooldown Time"
		},
		"cooldownBarSlider" : {
			"type" : "slider",
			"position" : [11, 44],
			"gridImage" : "/interface/knightfall_config/slider.png",
			"range" : [0, 300, 5],
			"callback" : "cooldownSlider",
			"data" : "cooldownBar_minTime"
		},
		"cooldownBarSliderImage" : {
			"type" : "image",
			"position" : [85, 43],
			"file" : "/interface/knightfall_config/box.png"
		},
		"cooldownBarSliderNumber" : {
			"type" : "label",
			"position" : [97, 44],
			"hAnchor" : "mid"
		}
	},
	
	"scripts" : ["/interface/knightfall_config/config.lua"],
	"scriptDelta" : 0,
	"scriptWidgetCallbacks" : ["cooldownBar", "cooldownSlider"],
	
	//ill make this better later (im lying)
	"checkboxes" : {
		"cooldownBarPrimary" : {
			"property" : "cooldownBar_primary",
			"default" : true
		},
		"cooldownBarAlt" : {
			"property" : "cooldownBar_alt",
			"default" : true
		}
	}
}
