{
  "action" : "actions",
  "list" : [
    {
      "action" : "loop",
      "count" : 20,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "animated",
                "animation" : "/animations/dusttest/dusttest.animation",
                "approach" : [1, 1],
				"size" : 1,
                "timeToLive" : 0.85,
                "variance" : {
                  "position" : [10, 10],
                  "initialVelocity" : [1, 1],
				  "size" : 2,
                  "rotation" : 180
                }
              }
            }
          ]
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 5,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1,
            "color" : [253, 209, 77, 255],
            "light" : [128, 0, 0],
            "fullbright" : true,
            "destructionTime" : 0.5,
            "destructionAction" : "shrink",
            "fade" : 0.9,
            "initialVelocity" : [0, 5],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.2,
            "layer" : "middle",
            "variance" : {
              "position" : [5, 5],
              "size" : 0.5,
              "initialVelocity" : [50, 50],
              "timeToLive" : 0.2
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_small1.ogg", "/sfx/gun/grenadeblast_small2.ogg", "/sfx/gun/grenadeblast_small3.ogg" ]
    }
  ]
}
