{
  "action" : "actions",
  "list" : [
    {
      "action" : "config",
      "file" : "/projectiles/knightfall/explosions/general/knightfall_fireexplosion/knightfall_fireexplosionlarge.config"
    },
	{
      "action" : "projectile",
      "type" : "knightfall_cinder",
      "fuzzAngle" : 0,
      "inheritDamageFactor" : 0.05,
      "angleAdjust" : 0
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast2.ogg", "/sfx/gun/grenadeblast3.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 4,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 2,
      "delaySteps" : 2
    }
  ]
}
