{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "knightfall_riftexplosion"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/plasma_explosion.ogg" ]
    },
    {
      "action" : "light",
      "color" : "orange"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 9,
      "backgroundRadius" : 8,
      "explosiveDamageAmount" : 20,
      "delaySteps" : 2
    }
  ]
}
