{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.25,
      "type" : "syndicate_redbulletexplosion"
    },
	{
      "action" : "loop",
      "count" : 4,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "animated",
			"image" : "/animations/dust2/dust2.animation",
			"size" : 1,
			"position" : [0, 0],
			"destructionAction" : "fade",
			"destructionTime" : 0.5,
			"fade" : 1,
			"finalVelocity" : [0.0, 3.0],
			"layer" : "middle",
			"timeToLive" : 0.5,
			"variance" : {
			  "initialVelocity" : [2.0, 2.0],
			  "position" : [1.0, 1.0]
			}
          }
        }
      ]
    },
	{
      "action" : "loop",
      "count" : 9,
      "body" : [
        {
          "action" : "particle",
          "specification" : {
            "type" : "ember",
            "size" : 1.5,
            "color" : [230, 50, 50, 255],
            "light" : [230, 50, 50],
            "fullbright" : true,
            "destructionTime" : 0.6,
            "destructionAction" : "fade",
            "fade" : 0.9,
            "initialVelocity" : [0, 5],
            "finalVelocity" : [0.0, -50.0],
            "approach" : [0, 30],
            "timeToLive" : 0.2,
            "layer" : "middle",
            "variance" : {
              "position" : [1.0, 1.0],
              "size" : 0.5,
              "initialVelocity" : [15, 15],
              "timeToLive" : 0.2
            }
          }
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/pulsecannon_blast1.ogg" ]
    },
    {
      "action" : "light",
      "color" : "red"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 2,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 0.5,
      "delaySteps" : 2
    }

  ]
}
