{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/knightfall_keypad/body.png",
      "fileFooter" : ""
    },

	"close" : {
		"type" : "button",
		"base" : "/interface/styles/buttons/knightfall_close_def.png",
		"hover" : "/interface/styles/buttons/knightfall_close_hov.png",
		"pressed" : "/interface/styles/buttons/knightfall_close_act.png",
		"pressedOffset" : [0, 0],
		"position" : [84, 140]
	},

    "imgDigit1" : {
      "type" : "image",
      "file" : "/interface/knightfall_keypad/asterisk.png",
      "position" : [14, 116],
      "zlevel" : 2
    },
    "imgDigit2" : {
      "type" : "image",
      "file" : "/interface/knightfall_keypad/asterisk.png",
      "position" : [28, 116],
      "zlevel" : 2
    },
    "imgDigit3" : {
      "type" : "image",
      "file" : "/interface/knightfall_keypad/asterisk.png",
      "position" : [42, 116],
      "zlevel" : 2
    },
    "imgDigit4" : {
      "type" : "image",
      "file" : "/interface/knightfall_keypad/asterisk.png",
      "position" : [56, 116],
      "zlevel" : 2
    },

    "btnDigit7" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_7.png:default",
      "hover" : "/interface/knightfall_keypad/button_7.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_7.png:default",
      "pressedOffset" : [0, 0],
      "position" : [10, 34],
      "callback" : "enterDigit",
      "data" : "7"
    },
    "btnDigit8" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_8.png:default",
      "hover" : "/interface/knightfall_keypad/button_8.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_8.png:default",
      "pressedOffset" : [0, 0],
      "position" : [44, 34],
      "callback" : "enterDigit",
      "data" : "8"
    },
    "btnDigit9" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_9.png:default",
      "hover" : "/interface/knightfall_keypad/button_9.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_9.png:default",
      "pressedOffset" : [0, 0],
      "position" : [78, 34],
      "callback" : "enterDigit",
      "data" : "9"
    },
    "btnDigit4" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_4.png:default",
      "hover" : "/interface/knightfall_keypad/button_4.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_4.png:default",
      "pressedOffset" : [0, 0],
      "position" : [10, 58],
      "callback" : "enterDigit",
      "data" : "4"
    },
    "btnDigit5" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_5.png:default",
      "hover" : "/interface/knightfall_keypad/button_5.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_5.png:default",
      "pressedOffset" : [0, 0],
      "position" : [44, 58],
      "callback" : "enterDigit",
      "data" : "5"
    },
    "btnDigit6" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_6.png:default",
      "hover" : "/interface/knightfall_keypad/button_6.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_6.png:default",
      "pressedOffset" : [0, 0],
      "position" : [78, 58],
      "callback" : "enterDigit",
      "data" : "6"
    },
    "btnDigit1" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_1.png:default",
      "hover" : "/interface/knightfall_keypad/button_1.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_1.png:default",
      "pressedOffset" : [0, 0],
      "position" : [10, 82],
      "callback" : "enterDigit",
      "data" : "1"
    },
    "btnDigit2" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_2.png:default",
      "hover" : "/interface/knightfall_keypad/button_2.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_2.png:default",
      "pressedOffset" : [0, 0],
      "position" : [44, 82],
      "callback" : "enterDigit",
      "data" : "2"
    },
    "btnDigit3" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_3.png:default",
      "hover" : "/interface/knightfall_keypad/button_3.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_3.png:default",
      "pressedOffset" : [0, 0],
      "position" : [78, 82],
      "callback" : "enterDigit",
      "data" : "3"
    },
    "btnDigit0" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_0.png:default",
      "hover" : "/interface/knightfall_keypad/button_0.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_0.png:default",
      "pressedOffset" : [0, 0],
      "position" : [44, 10],
      "callback" : "enterDigit",
      "data" : "0"
    },

    "btnClear" : {
      "type" : "button",
      "base" : "/interface/knightfall_keypad/button_clear.png:default",
      "hover" : "/interface/knightfall_keypad/button_clear.png:highlight",
      "pressed" : "/interface/knightfall_keypad/button_clear.png:default",
      "pressedOffset" : [0, 0],
      "position" : [78, 10],
      "callback" : "clear"
    },

    "imgStatusLight" : {
      "type" : "image",
      "file" : "/interface/knightfall_keypad/statuslight.png:red",
      "position" : [9, 105],
      "zlevel" : 2
    }
  },

  "scriptWidgetCallbacks" : [
    "enterDigit",
    "clear"
  ],

  "scripts" : ["/interface/scripted/keypad/keypadgui.lua"],
  "scriptDelta" : 5,

  "statusLightImage" : "/interface/knightfall_keypad/statuslight.png",
  "flashTime" : 1.0
}
