{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "knightfall_stasisexplosionshort",
	  "config" : {
		  "statusEffects" : [
			"knightfall_stasisshort"
		  ]
	  }
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [10, 10],
			"finalVelocity" : [0, 0],
			"approach" : [1, 1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [20, 20],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [-10, 10],
			"finalVelocity" : [0, 0],
			"approach" : [-1, 1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [-20, 20],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [-10, -10],
			"finalVelocity" : [0, 0],
			"approach" : [-1, -1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [-20, -20],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.20,
      "action" : "loop",
      "count" : 15,
	  "fuzzAngle" : 360,
      "body" : [
        {
		  "action" : "particle",
		  "specification" : {
			"type" : "streak",
			"position" : [0, 0],
			"initialVelocity" : [10, -10],
			"finalVelocity" : [0, 0],
			"approach" : [1, -1],
			"color" : [177, 233, 255, 255],
			"collidesForeground" : false,
			"timeToLive" : 0.3,
			"destructionTime" : 0.3,
			"destructionAction" : "shrink",
			"fullbright" : true,
			"size" : 0.2,
			"layer" : "back",
			"variance" : {
			  "size" : 0.5,
			  "initialVelocity" : [20, -20],
			  "color" : [125, 170, 198, 150]
			}
		  }
        }
      ]
    },
    {
	  "time" : 0.15,
	  "repeat": false,
	  "action" : "projectile",
	  "type" : "knightfall_stasisexplosionfade"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/explosions/knightfall_timeexplosion.ogg" ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/knightfall_plasma-gunfire7.ogg" ]
    }
  ]
}
