{
	"gui" : {
		"background" : {
			"zlevel" : 0,
			"type" : "background",
			"fileHeader" : "",
			"fileBody" : "/interface/knightfall_codexinterface/gui/body.png",
			"fileFooter" : ""
		},

		"close" : {
			"type" : "button",
			"base" : "/interface/styles/buttons/knightfall_close_def.png",
			"hover" : "/interface/styles/buttons/knightfall_close_hov.png",
			"pressed" : "/interface/styles/buttons/knightfall_close_act.png",
			"pressedOffset" : [0, 0],
			"callback" : "close",
			"position" : [528, 222]
		},

		"windowtitle" : {
			"type" : "label",
			"value" : "^#66ccff;INFORMATION CONSOLE",
			"position" : [37, 233]
		},

		"windowsubtitle" : {
			"type" : "label",
			"value" : "Talk with AVA for any questions regarding the Knightfall Initiative.",
			"position" : [37, 224]
		},

		"windowicon" : {
			"type" : "image",
			"file" : "/interface/knightfall_codexinterface/software/infoconsole/interfaceicon.png",
			"position" : [11, 223]
		},

		"cvsBackground" : {
			"zlevel" : 0,
			"type" : "canvas",
			"rect" : [0, 0, 562, 214],
			"captureMouseEvents" : false,
			"captureKeyboardEvents" : false
		},

		"cvsForeground" : {
		  "zlevel" : 1,
		  "type" : "canvas",
		  "rect" : [0, 0, 562, 214],
		  "captureMouseEvents" : false,
		  "captureKeyboardEvents" : false
		},

		"imgTextbox" : {
			"type" : "image",
			"file" : "",
			"position" : [1, 22],
			"zlevel" : 2
		},

		"lblText" : {
			"type" : "label",
			"position" : [292, 196],
			"zlevel" : 3,
			"hAnchor" : "left",
			"vAnchor" : "top",
			"wrapWidth" : 236,
			"lineSpacing" : 1.1,
			"value" : "[no game loaded]"
		},

		"lblOptions" : {
			"type" : "label",
			"position" : [408, 46],
			"zlevel" : 3,
			"hAnchor" : "mid",
			"vAnchor" : "top",
			"wrapWidth" : 242,
			"lineSpacing" : 1.1,
			"value" : ""
		},

		"imgContinueHint" : {
			"type" : "image",
			"file" : "",
			"position" : [514, 26],
			"zlevel" : 3,
			"visible" : false
		},

		"cvsOverlay" : {
			"zlevel" : 4,
			"type" : "canvas",
			"rect" : [23, 23, 540, 199],
			"captureMouseEvents" : true,
			"captureKeyboardEvents" : true
		}
	},

	"scriptWidgetCallbacks" : [

	],

	"canvasClickCallbacks" : {
		"cvsOverlay" : "canvasClickEvent"
	},
	"canvasKeyCallbacks" : {
		"cvsOverlay" : "canvasKeyEvent"
	},

	"scripts" : ["/interface/knightfall_codexinterface/knightfall_vngui.lua"],
	"scriptDelta" : 2
}